.background-picture-landing {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: url("/img/background-landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: grayscale(40%) contrast(80%);
          filter: grayscale(40%) contrast(80%);
}

.background-picture {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: url("/img/background-stone.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: grayscale(40%) contrast(80%) sepia(0.1) saturate(200%);
          filter: grayscale(40%) contrast(80%) sepia(0.1) saturate(200%);
}

.background-picture-about {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: url("/img/background-stone.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: grayscale(40%) contrast(80%) sepia(0.2) saturate(200%) hue-rotate(670deg);
          filter: grayscale(40%) contrast(80%) sepia(0.2) saturate(200%) hue-rotate(670deg);
}
