.hero {
  margin: 0 5.5vw 0 0;
}

.hero .hero-img {
  border-radius: 50%;
  -webkit-box-shadow: 0 0px 7px 2px #707070;
          box-shadow: 0 0px 7px 2px #707070;
  width: 30vw;
  max-width: 350px;
  min-width: 180px;
}

.about-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7vh;
}

.about-main section h2 {
  font-size: 2.1em;
  margin-bottom: 2vw;
}

.about-main section p {
  font-size: 1.8em;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.social-logo {
  -webkit-filter: invert(10%);
          filter: invert(10%);
  margin: 0 1vw;
  border-radius: 10px;
  -webkit-box-shadow: 0 0px 7px 2px #f1f1f1;
          box-shadow: 0 0px 7px 2px #f1f1f1;
}

.social-logo:hover {
  -webkit-animation: social_pop 0.2s linear alternate;
          animation: social_pop 0.2s linear alternate;
  background-color: #f1f1f1;
}

@-webkit-keyframes social_pop {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes social_pop {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@media only screen and (max-width: 481px) {
  .about-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-main .h2 {
    font-size: 1.8em;
    text-align: center;
  }
  .about-main .p {
    font-size: 1.4em;
    text-align: center;
  }
  .hero {
    margin: 0 0 7vw 0;
  }
}
