#shuffle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Special Elite", cursive;
}

#shuffle #shuffle__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  margin: 15px;
  max-width: 300px;
}

#shuffle #shuffle__container a {
  color: inherit;
  text-decoration: none;
  text-align: center;
}

#shuffle #shuffle__container img {
  height: 40vh;
}

@media only screen and (min-width: 481px) {
  #shuffle #shuffle__container {
    margin: 15px;
  }
}

#shuffle #shuffle__container h2 {
  margin-top: 25px;
  font-size: 1.6em;
  text-align: center;
  line-height: 1.2;
}

@media only screen and (min-width: 481px) {
  #shuffle #shuffle__container h2 {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #171717;
  }
}

#shuffle #shuffle-btn {
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0 1px 3px 1px #707070;
          box-shadow: 0 1px 3px 1px #707070;
  background-color: #fca311;
  -webkit-transition: scale 0.2s ease-in;
  transition: scale 0.2s ease-in;
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
}

#shuffle #shuffle-btn span {
  font-size: 1.6em;
  font-family: "Special Elite", cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #171717;
}

@media only screen and (min-width: 481px) {
  #shuffle #shuffle-btn span {
    font-size: 2em;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #171717;
  }
}

#shuffle #shuffle-btn:hover {
  background-color: #fdc975;
  -webkit-box-shadow: 0 1px 3px 1px #979797;
          box-shadow: 0 1px 3px 1px #979797;
}

#shuffle #shuffle-btn:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  -webkit-box-shadow: none;
          box-shadow: none;
}
