@import "variables.scss";
#shuffle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  #shuffle__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 15px;
    max-width: 300px;
    a {
      color: inherit;
      text-decoration: none;
      text-align: center;
    }
    img {
      height: 40vh;
    }

    h2 {
      margin-top: 25px;
      font-size: 1.6em;
      text-align: center;
      line-height: 1.2;
      @media only screen and (min-width: $mq-small) {
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: $color-black;
      }
    }
  }
  #shuffle-btn {
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 1px 3px 1px $color-dark-grey;
    background-color: $color-orange;
    transition: scale 0.2s ease-in;
    transition: background-color 0.1s ease-in;
    span {
      font-size: 1.6em;
      font-family: "Special Elite", cursive;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $color-black;
      @media only screen and (min-width: $mq-small) {
        font-size: 2em;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: $color-black;
      }
    }
  }
  #shuffle-btn:hover {
    background-color: $color-xtra-light-orange;
    box-shadow: 0 1px 3px 1px $color-grey;
  }
  #shuffle-btn:active {
    transform: scale(0.99);
    box-shadow: none;
  }
}
