// COLORS
$color-white: #f1f1f1;
$color-white-opacity: rgba(241, 241, 241, 0.8);
$color-black: #171717;
$color-black-opacity: rgba(23, 23, 23, 0.5);
$color-dark-blue: #14213d;
$color-light-orange: #ffb339;
$color-xtra-light-orange: #fdc975;
$color-orange: #fca311;
$color-light-grey: #e5e5e5;
$color-grey: #979797;
$color-dark-grey: #707070;
$color-darker-grey: #585858;
$gradient-orange: linear-gradient(#fca311, #f59e12);
$gradient-orange-hover: linear-gradient(#ffaf2d, #f5a628);
//SCREEN SIZE
$mq-small: 481px;
